/*  CSS. */
* { box-sizing: border-box; user-select: none; }

h1 { 
	font-size: 1.8em;
	font-weight: 900;
}
h2 {
	font-size: 1.6em;
	font-weight: 800;
}
h3 {
	font-size: 1.4em;
	font-weight: 700;
}
h4 {
	font-size: 1.2em;
	font-weight: 600;
}

h1, h2, h3, h4 { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; }

p, ol, li, a, span, div { 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; color: #000000;
	font-size: 1em; }

p, ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.3em;
}

a { 
	font-size: 1em;
	text-decoration: none;
	font-family: sans-serif;
}
label, textarea, textarea { 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; color: #777777;
	font-size: 1em;
}	
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html { background: url("../img/avengers_bg.jpg") 0 0 / cover no-repeat; }

.HIDE { display: none !important; }

#trivia_game {
	width: 100%;
	height: 600px;
	padding: 60px 0 40px;
	margin: 40px auto 20px;
	text-align: center;
	background-color: rgba(150,150,150,0.55);
}
#trivia_name { margin-bottom: 60px; }
#question_display, #start_btn, #choice_display { 
	margin-bottom: 20px;
}
#question_display {
	line-height: 1.2em;
	width: 700px;
	height: 80px;
	padding: 15px;
	margin: 0 auto 15px;
	background-color: rgba(150,150,150,0.20);
}
#question_display span {
	color: #ffffff;
}
#start_btn {
	font-weight: 800;
	background-color: #31bde2;
	width: 200px;
	margin: 20px auto 0;
	padding: 15px 0;
	border-radius: 20px;
	cursor: pointer;
}
#start_btn span { color: #ffffff; }

#time_display { 
	margin-bottom: 40px;
	font-size: 22px;
	font-weight: 900;
	color: #000000;
}

#choice_display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 300px;
}

#choice_display div {
	display: table-cell;
	vertical-align: middle;
	width: inherit;
	margin: 5px;
	padding: 15px 0;
	background-color: #006cff;
	color: #ffffff;
}
#choice_display .choice:hover { background-color: #003e95; }

#choice_display .correct { background-color: #3cc61f !important; }

#choice_display .wrong { background-color: #c62c1f !important; }
